/* --- ELEMENTS --- */
/* --- ELEMENTS --- */
/* --- ELEMENTS --- */

:root {
    --black: #0D0D0D;
    --yellow: #FFEC00;
    --pink: #FF56C2;
    --blue: #00BBBB;
    --white: #FFFFFF;
  }
 
body {
    margin:0;
    padding:0;
    background-color: var(--black);
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

h1 {
    font-family: "cubano", sans-serif;
    color: var(--white);
    margin: 0;
}

h4 {
    font-family: "cubano", sans-serif;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
    margin: 2rem 20px;
}

a {
    font-family: "cubano", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--blue);
}

.btn-primary {
    color: var(--black);
    background-color: var(--yellow);
    padding: 0.7rem 0.7rem;
    box-shadow: 5px 5px 0 var(--black), 5px 5px 0 3px var(--white);
    font-family: "cubano", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
}

.btn-secondary {
    color: var(--white);
    background-color: var(--blue);
    padding: 1rem 1.5rem;
    box-shadow: 5px 5px 0 var(--black), 5px 5px 0 3px var(--white);
    font-family: "cubano", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
}

.btn-tertiaire {
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 2rem;
    box-shadow: 5px 5px 0 var(--white), 5px 5px 0 3px var(--black);
    font-family: "cubano", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
}

/* --- CONTAINER --- */
/* --- CONTAINER --- */
/* --- CONTAINER --- */

.container {
    width: 100vw;
    max-width: 100%;
}

/* --- HEADER --- */
/* --- HEADER --- */
/* --- HEADER --- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.logosvg {
    width: 120px;
    max-width: 100%;
    margin-left: 20px;
}

.btnreservation {
    margin-right: 20px;
}

/* --- BANDEAU --- */
/* --- BANDEAU --- */
/* --- BANDEAU --- */

.headband {
    background-color: var(--yellow);
    padding: 0.7rem 0;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.backtownsecond {
    background-color: var(--blue);
}

.backtownthird {
    background-color: var(--pink);
}

.content {
    font-family: "cubano", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    display: inline-block;
}

.banger {
    color: var(--blue);
    animation: scroll 20s linear infinite;
}

.townfirst {
    color: var(--pink);
    animation: scroll-left 30s linear infinite;
}

.townsecond {
    color: var(--yellow);
    animation: scroll-right 25s linear infinite;
}

.townthird {
    color: var(--blue);
    animation: scroll-left 35s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

/* --- MAIN EVENT --- */
/* --- MAIN EVENT --- */
/* --- MAIN EVENT --- */

.main-event {
    padding-bottom: 2rem;
}

.main-event-content img {
    max-width: 100vw;
    width: 100%;
    object-fit: cover;
}

.main-event-infos {
    margin: 2rem 20px;
    font-size: 18px;
}

.main-event h1 {
    font-size: 4rem;
    line-height: 95%;
    margin-bottom: 1.5rem;
}

.main-event p {
    margin-bottom: 0.5rem;
}

.iconevent {
    display: flex;
    align-items: center;
}

.main-event a {
    margin-top: 1rem;
    }

/* --- NIE LOUPER --- */
/* --- NIE LOUPER --- */
/* --- NIE LOUPER --- */

.louper {
    background-color: var(--yellow);
}

.bringues {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding: 1.5rem 0;
}

.bringues h2 {
    font-family: "cubano", sans-serif;
    color: var(--black);
    font-size: 1.7rem;
}

.arrow a svg {
    background-color: var(--white);
    border: solid 5px var(--black);
}

/* --- CARDS --- */
/* --- CARDS --- */
/* --- CARDS --- */

.cards {
    display: flex;
    overflow-x: scroll;
    /*scroll-snap-type: x proximity;*/
}

.card {
    /*scroll-snap-align: center;*/
    background-color: var(--blue);
    color: var(--black);
    min-width: 300px; 
    max-width: 400px; 
    margin: 0 30px 3rem 20px;
    padding-bottom: 1.5rem;
    box-shadow: 
        12px 12px 0 var(--yellow), 
        12px 12px 0 8px var(--blue);
}

.cards .card:last-child {
    margin-right: 40px;
}

.arrow a {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

.card:nth-child(3n+1) {
    background-color: var(--blue);
    box-shadow: 
        12px 12px 0 var(--yellow),
        12px 12px 0 8px var(--blue);
}

.card:nth-child(3n+2) {
    background-color: var(--white);
    box-shadow: 
        12px 12px 0 var(--yellow),
        12px 12px 0 8px var(--white);
}

.card:nth-child(3n) {
    background-color: var(--pink);
    box-shadow: 
        12px 12px 0 var(--yellow),
        12px 12px 0 8px var(--pink);
}

.card img {
    width: 100%;
    object-fit: cover;
}

.contentcard {
    margin: 0 1.5rem;
}

.contentcard h3 {
    font-family: "cubano", sans-serif;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.contentcard a {
    margin-top: 1rem;
}

/* --- AVIS --- */
/* --- AVIS --- */
/* --- AVIS --- */

.noticeglobal {
margin: 0 20px;
}

.allstars {
    text-align: center;
}

.allcomments {
    text-align: center;
    margin-top: 10px;
}

.cardcomment {
    background-color: var(--white);
    margin: 2rem 20px;
    padding: 1.7rem 1.2rem;
}

.cardcomment p {
 color: var(--black);
 font-size: 14px;
 line-height: 22px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.author span {
    font-weight: 600;
    font-size: 18px;
    color: var(--black);
}

.stars svg {
    width: 18px;
}

/* --- MAPS --- */
/* --- MAPS --- */
/* --- MAPS --- */


/* --- FOOTER --- */
/* --- FOOTER --- */
/* --- FOOTER --- */

footer {
    margin: 2rem 20px;
}

.footercolumn {
    margin-top: 3rem;
    text-align: center;
}

.footercolumn.one ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footercolumn h5 {
    font-family: "cubano", sans-serif;
    color: var(--white);
    font-size: 1.6rem;
}

.footercolumn ul li {
    margin: 25px 0;
}

.footercolumn ul li a {
    font-family: "cubano", sans-serif;
    font-size: 18px;
    color: var(--white);
}






